{% extends base_template %}
{% load static %}
{% block section %}
    {% if sms %}
		<div class="row align-items-center">
			<div class="col-3">
			  <a href="/login/">
				<img src="{% static 'accounts/pics/logo.png' %}" alt="مدیریت بازدید" class="img-fluid">
			  </a>
			</div>
			<div class="col-8 text-center">
			  <h1 class="heading-section" style="font-size:1.5em">سامانه رزرواسیون</h1>
			</div>
		</div>
		  <h2 class="heading-section mb-4 text-center" style="font-size:1.25em">فرم زیر را تکمیل کنید و ورود بزنید</h2>
		  <form action="{{ request.get_full_path }}" method="post" class="signin-form">
			  <div class="form-group">
				  <input type="text" class="form-control" name="otp" placeholder="کد ارسال شده" required>
			  </div>
			<div class="form-group">
				<button type="submit" class="form-control btn btn-primary submit px-3">ورود</button>
			</div>
		</form>
	{% else %}
		<div class="row align-items-center">
			<div class="col-3">
			  <a href="/login/">
				<img src="{% static 'accounts/pics/logo.png' %}" alt="مدیریت بازدید" class="img-fluid">
			  </a>
			</div>
			<div class="col-8 text-center">
			  <h1 class="heading-section" style="font-size:1.5em">سامانه رزرواسیون</h1>
			</div>
		</div>
		  <h2 class="heading-section mb-4 text-center" style="font-size:1.25em">شماره تماس را وارد نمایید و ورود بزنید</h2>
		  <form hx-post="{{ request.get_full_path }}"
		  		hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
		  		hx-swap="outerHTML"
		  		hx-target="#login_section"
				class="signin-form">
			  <div class="form-group">
				  <input type="text" class="form-control" name="username" placeholder="شماره تماس" required>
			  </div>
			<div class="form-group">
				<button type="submit" class="form-control btn btn-primary submit px-3">ورود</button>
			</div>
		</form>
	{% endif %}
{% endblock section %}