<!doctype html>
{% load static %}
<html lang="fa">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'serve/css/google-font.css' %}" rel="stylesheet">
    <link href="{% static 'serve/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'serve/css/box-statistics.css' %}" rel="stylesheet">
    <link href="{% static 'serve/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'serve/css/style_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'serve/css/toastr.min.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
</head>
<body dir="rtl">
    <div class="wrapper d-flex align-items-stretch">
        {% if user.is_authenticated %}
            <nav id="sidebar" class="active">
                <ul class="list-unstyled components mb-5 mt-5">
                    <li class="active">
                        <a href="{% url 'serve:index' %}"><span class="fa fa-home"></span> خانه </a>
                    </li>
                    <li>
                        <a href="{% url 'serve:profile' %}"><span class="fa fa-user"></span> پیشخان </a>
                    </li>
                    <li>
                        <a href="{% url 'serve:my_reservation' %}"><span class="fa fa-cogs"></span> رزروهای من </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><span class="fa fa-sign-out-alt"></span> خروج </a>
                    </li>
                </ul>
            </nav>
        {% endif %}

        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                        <button type="button" id="sidebarCollapse" class="btn btn-primary">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">منو</span>
                        </button>
                    {% endif %}
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">صفحه نخست</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">درباره ما</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">تماس با ما</a>
                            </li>
                            <li class="nav-item">
                                {% if not user.is_authenticated %}
                                    <a class="nav-link" href="{% url 'login' %}">ورود</a>
                                {% else %}
                                    <a class="nav-link" href="{% url 'serve:profile' %}">پیشخان</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="main-content">
                <div class="header background-theme pb-8 pt-5 pt-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block extra_js %}
    {% endblock %}
    <script src="{% static 'serve/js/toastr.js' %}" type="text/javascript"></script>
    {% if messages %} 
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
        toastr.options = { "closeButton": true, "debug": false, "newestOnTop": true,
            "progressBar": true, "positionClass": "toast-top-right", "preventDuplicates": true,
            "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000",
            "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear",
            "showMethod": "fadeIn", "hideMethod": "fadeOut" };
        {% autoescape off %}
            {% for msg in messages %}
                toastr.{{ msg.level_tag }}("{{ msg }}");
            {% endfor %}
        {% endautoescape %}
    });
    </script>
    {% endif %}
</body>
</html>