{% extends "serve/dashboard.html" %}
{% load static %}
{% block title %}
سامانه رزواسیون پارک علم و فناوری سیستان و بلوچستان | برنامه های رزو
{% endblock %}
{% block extra_css %}
<link href="{% static 'serve/css/jalalidatepicker.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content%}
<div class="container-fluid">
    <h2 class="mb-5 text-dark">{{ place.name }}</h2>
    <div class="header-body d-flex justify-content-center">
        <div class="col-xs-1 center-block">
            <img src="{{ place.image.url }}" alt="Reservation" class="img-fluid rounded mb-3">
            <p>{{ place.description }}</p>
        </div>
    </div>
    <!-- Reservation Section -->
    <div class="row justify-content-center">
    <!-- Date Reservation -->
        <div class="col-md-6 mx-auto">
            <form role="form" action="{% url 'serve:reservaion_request' id=place.id %}" method="POST">
            {% csrf_token %}
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">لطفا تاریخ و ساعت مورد نظر برای رزرو را وارد نمایید.</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>تاریخ درخواست:</label>
                            {% for error in form.name.errors %}
                                <p class="col-sm-8 text-danger">
                                {{ error }}
                                </p>
                            {% endfor %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" class="form-control rtl" data-jdp name="request_date" {% if form.request_date.value %} value='{{ form.name.value }}' {% endif %} data-jdp-only-date>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>زمان شروع:</label>
                            {% for error in form.email.errors %}
                            <p class="col-sm-8 text-danger">
                            {{ error }}
                            </p>
                            {% endfor %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-clock"></i></span>
                                </div>
                                <input type="text" class="form-control ltr" data-jdp name="time_in" {% if form.time_in.value %} value='{{ form.email.value }}' {% endif %} data-jdp-only-time>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="form-group">
                            <label>زمان پایان:</label>
                            {% for error in form.email.errors %}
                            <p class="col-sm-8 text-danger">
                            {{ error }}
                            </p>
                            {% endfor %}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-clock"></i></span>
                                </div>
                                <input type="text" class="form-control ltr" data-jdp name="time_out" {% if form.time_out.value %} value='{{ form.email.value }}' {% endif %} data-jdp-only-time>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">ثبت</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'serve/js/jquery.min.js' %}"></script>
<script src="{% static 'serve/js/bootstrap.min.js' %}"></script>
<script src="{% static 'serve/js/popper.js' %}"></script>
<script src="{% static 'serve/js/main.js' %}"></script>
<script src="{% static 'serve/js/jalalidatepicker.min.js' %}"></script>
<script>
    jalaliDatepicker.startWatch(
        {
            separatorChars:{
                date:"-"
            },
            minDate: "today",
            time: true
        }
    );
</script>
{% endblock %}