{% extends "serve/dashboard.html" %}
{% load static %}
{% block title %}
سامانه رزواسیون پارک علم و فناوری سیستان و بلوچستان | برنامه های رزو
{% endblock %}
{% block content%}
<div class="container-fluid">
    <h2 class="mb-5 text-dark">{{ place.name }}</h2>
    <div class="header-body d-flex justify-content-center">
        <div class="col-xs-1 center-block">
            <img src="{{ place.image.url }}" alt="Reservation" class="img-fluid rounded mb-3">
            <p>{{ place.description }}</p>
        </div>
    </div>
    <!-- Reservation Section -->
    <div class="row justify-content-center">
    <!-- Date Reservation -->
        <div class="col-md-4">
            <h5>تاریخ</h5>
            <ul class="border rounded p-3 list-group" id="reservation-date">
                {% for key, value in schedules.date.items %}
                    <li class="btn list-group-item" onclick="activateDate(this);updateHourReservation('{{ key }}')">
                        <h6 class="my-2">{{ key }}</h6>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Hour Reservation -->
        <div class="col-md-4">
            <h5>ساعت</h5>
            <ul class="border rounded p-3 list-group" id='hour-reservation'>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'serve/js/jquery.min.js' %}"></script>
<script src="{% static 'serve/js/bootstrap.min.js' %}"></script>
<script src="{% static 'serve/js/popper.js' %}"></script>
<script src="{% static 'serve/js/main.js' %}"></script>
<script>
    const schedules = {{ schedules|safe }};

    // Function to update the times based on the selected date
    function updateHourReservation(selectedDate) {
        const hours = schedules['date'][selectedDate];
        const hourReservationDiv = document.getElementById('hour-reservation');

        // Clear the previous time slots
        hourReservationDiv.innerHTML = '';

        // If hours exist for the selected date, display them
        if (hours) {
            for (const key in hours) {
                if (hours.hasOwnProperty(key)) {
                    const timeSlot = hours[key];
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item';
                    listItem.innerHTML = `
                        <h6 class="my-2">
                            <a href=${timeSlot['url']}>
                            ${timeSlot['time_out']} - ${timeSlot['time_in']}
                            </a>
                        </h6>`;
                    
                    if (timeSlot['accept'] > 0) {
                        listItem.classList.add('disabled');
                    }    

                    hourReservationDiv.appendChild(listItem);
                }
            }
        }
    }
    function activateDate(clickedItem) {
        // Get all the list items in the date reservation list
        const dateItems = document.querySelectorAll('#reservation-date .list-group-item');

        // Remove 'active' class from all list items
        dateItems.forEach(item => {
            item.classList.remove('active');
        });

        // Add 'active' class to the clicked item
        clickedItem.classList.add('active');
    }
</script>
{% endblock %}